<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger"><!--スペースで複数のクラス付与-->
      The form contains <%= pluralize(object.errors.count, "error") %>.<!--不規則活用を含むさまざまな単語を複数形にすることができる-->
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
