<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <% flash.each do |message_type, message| %><!--messageは代入された値、message_typeはシンボル(キー)-->
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %><!--content_tagを使った書き直し(演習7.4.4.2)-->
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %><!--デバッグ表示(倒置if)-->
    </div>
  </body>
</html>
